@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spawn-up {
    0% { opacity: 0; transform: translateY(5%); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes spawn-down {
    0% { opacity: 0; transform: translateY(-5%); }
    100% { opacity: 1; transform: translateY(0); }
}

.spawn-up {
    opacity: 0;
    transform: translateY(5%);
    animation: spawn-up 0.5s cubic-bezier(0.2, 0.8, 0.2, 0.8) forwards;
}

.spawn-down {
    opacity: 0;
    transform: translateY(-5%);
    animation: spawn-down 0.5s cubic-bezier(0.2, 0.8, 0.2, 0.8) forwards;
}