@tailwind base;
@tailwind components;
@tailwind utilities;

.blur-1 { backdrop-filter: blur(1px); }
.blur-2 { backdrop-filter: blur(2px); }
.blur-4 { backdrop-filter: blur(4px); }
.blur-8 { backdrop-filter: blur(8px); }
.blur-16 { backdrop-filter: blur(16px); }

.drop-shadow-orange-600 {
    text-shadow: 0px 0.2em 0.3em #EA580C80;
    filter: drop-shadow(0px 0.2em 1em #EA580C80);
}